<h2>Room Vacancy Checker</h2>


<table id="vacanciesTable">
    <tr>
        <td><button (click)="showAllVacancies()" id="allCurrentVacancies">Check All Currently Vacant Rooms</button></td>
    </tr>
    <ng-container *ngIf="showVacanciesClicked">
        <tr *ngFor="let vac of vacancies">
            <td><ul><li>Room no. {{ vac.roomNo }}: {{ vac.roomType }} , {{ vac.pricePerNight | currency:'EUR' }} per night</li></ul></td>
        </tr>
    </ng-container>
    <tr>
        <td><button (click)="showAllSingleVacancies()" id="allCurrentVacantSingle">Check Currently Vacant Single Rooms</button></td>
    </tr>
    <ng-container *ngIf="showSingleVacanciesClicked">
        <tr *ngFor="let vac of singleVacancies">
            <td><ul><li>Room no. {{ vac.roomNo }}: {{ vac.pricePerNight | currency:'EUR' }} per night</li></ul></td>
        </tr>
    </ng-container>
    <tr>
        <td><button (click)="showAllDoubleVacancies()" id="allCurrentVacantDouble">Check Currently Vacant Double Rooms</button></td>
    </tr>
    <ng-container *ngIf="showDoubleVacanciesClicked">
        <tr *ngFor="let vac of doubleVacancies">
            <td><ul><li>Room no. {{ vac.roomNo }}: {{ vac.pricePerNight | currency:'EUR' }} per night</li></ul></td>
        </tr>
    </ng-container>
    <tr>
        <td><button (click)="showAllFamilyVacancies()" id="allCurrentVacantFamily">Check Currently Vacant Family Rooms</button></td>
    </tr>
    <ng-container *ngIf="showFamilyVacanciesClicked">
        <tr *ngFor="let vac of familyVacancies">
            <td><ul><li>Room no. {{ vac.roomNo }}: {{ vac.pricePerNight | currency:'EUR' }} per night</li></ul></td>
        </tr>
    </ng-container>
    <tr>
        <td><button (click)="showAllRooms()" id="allRooms">get alll roooms</button></td>
    </tr>
    <ng-container *ngIf="showRoomsClicked">
        <tr>
            Type: 0 = Single, 1 = Double, 2 = Family. Will change EF Migration later lol
        </tr>
        <tr *ngFor="let room of rooms">
            <td><ul><li>Room no. {{ room.roomNo }}: type = {{ room.roomType }}, {{ room.pricePerNight | currency:'EUR' }} per night</li></ul></td>
        </tr>
    </ng-container>
</table>