<h2>Booking Creation</h2>


    



<h3>Enter details for booking</h3>

<form (ngSubmit)="submitBooking()" #bookingForm="ngForm">
    <fieldset>
        <legend>Guest ID</legend>
        <input type="number" id="guestID" name="guestID" [(ngModel)]="booking.guestId" required>
    </fieldset>
    <fieldset>
        <legend>Check-in Date and Time</legend>
        <input type="datetime-local" id="checkIn" [(ngModel)]="booking.startDate"
               name="checkin" value=""
               min="2023-08-01T00:00" max="2023-10-01T00:00" required>
    </fieldset>
    <fieldset>
        <legend>Check-out Date and Time</legend>
        <input type="datetime-local" id="checkOut" [(ngModel)]="booking.endDate"
               name="checkout" value=""
               min="2023-08-01T00:00" max="2023-10-01T00:00" required>
    </fieldset>
    <fieldset>
        <legend>Room Number</legend>
        <input type="text" id="roomNo" name="roomNo" [(ngModel)]="booking.roomNo" required>
    </fieldset>
    <fieldset>
        <legend>Party Size</legend>
        <input type="number" id="partySize" name="partySize" [(ngModel)]="booking.partySize" required>
    </fieldset>
    <button type="submit" id="bookingButton" [disabled]="!bookingForm.form.valid">Submit</button>
</form>

<p>{{ booking | json }}</p>

