<h2>Booking Creation</h2>

<p>Do some check to see if the guest already is in our database (by their email?)</p>
<form #checkform="ngForm">
    <div>
        <label>Email
            <input type="text" />
        </label>
    </div>
</form>

<h3>Enter details for guest</h3>
    



<h3>Enter details for booking</h3>

<form (ngSubmit)="submitBooking()" #bookingForm="ngForm">
    <fieldset>
        <legend>Guest ID</legend>
        <input type="number" id="guestID" name="guestID" [(ngModel)]="booking.guestId" required>
    </fieldset>
    <fieldset>
        <legend>Check-in Date and Time</legend>
        <input type="datetime-local" id="checkIn"
               name="checkin" value=""
               min="2023-08-01T00:00" max="2023-10-01T00:00" required>
    </fieldset>
    <fieldset>
        <legend>Check-out Date and Time</legend>
        <input type="datetime-local" id="checkOut"
               name="checkout" value=""
               min="2023-08-01T00:00" max="2023-10-01T00:00" required>
    </fieldset>
    <button type="submit" id="bookingButton" [disabled]="!bookingForm.form.valid">Submit</button>
</form>

<p>etc etc etc</p>

